/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=PT+Sans:wght@400;700&display=swap'); */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("/fonts/RobotoSlab-Regular.ttf");
}

:root {
  --navbar-height: 6em;
  --navbar-padding: 1em;
  --footer-padding: 1em;
  --content-padding: 1em;
  --content-padding-lg-x: 15em;
  --content-padding-lg-y: 2em;
  --content-padding-lg: var(--content-padding-lg-y) var(--content-padding-lg-x);
  --content-padding-xl-x: 10em;
  --content-padding-xl-y: 2em;
  --content-padding-xl: var(--content-padding-xl-y) var(--content-padding-xl-x);
  --content-margin: 2em;
  --content-gap: 2em;
  --content-gap-lg: 4em;
  --content-gap-xl: 6em;
  --service-list-padding: 3em;
  --container-max-width: 75rem;
  --cta-padding: 1em;
  --border-radius: 2em;
  --section-margin: 2em;
  --breakpoint-lg: 768px;
  --dark-theme-bg: #222;
  --dark-theme-bg-lighter: #444;
  --dark-theme-text: #eee;
  --light-theme-bg: #eee;
  --light-theme-text: #222;
  --djds-light: rgba(58, 153, 255, 1);
  --djds-medium: rgba(35, 140, 255, 1);
  --djds-dark: rgba(0, 118, 238, 1);
  --djds-gradient: linear-gradient(6deg, var(--djds-light) 0%, var(--djds-medium) 50%, var(--djds-dark) 100%);
  --fs-300: 1rem;
  --fs-400: 1.15rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-500: 2rem;
    --fs-600: 3rem;
    --fs-700: 3.5rem;
  }
}

body {
  margin: 0;
  font-family: "Open sans";
  overscroll-behavior: none;
}

section {
  margin-bottom: var(--section-margin);
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
  font-family: "Roboto Slab";
}

h3 {
  font-size: var(--fs-500);
  font-family: "Roboto Slab";

}

p,
li {
  font-family: "Montserrat";
}

p,
li,
h4 {
  font-size: var(--fs-400);
}

article h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

#cooperation {
  scroll-margin: calc(2 * var(--navbar-height));
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: var(--content-padding);
  max-width: var(--container-max-width);
  margin: auto;
}

.full-container {
  max-width: var(--container-max-width);
}

.full-container>* {
  padding: 0 calc(var(--content-padding) / 2);
}

.full-container>.hasNoPadding {
  padding: 0;
}

.main {
  padding-top: var(--navbar-height);
}

.cta {
  text-decoration: none;
  background-color: var(--djds-light);
  color: var(--dark-theme-text);
  padding: var(--cta-padding);
  border: none;
  border-radius: var(--border-radius);
  transition: .5s ease-in-out;
  cursor: pointer;
  font-size: var(--fs-300);
  font-weight: bold;
}

.cta:hover {
  background-color: var(--djds-dark);
}

.contrast {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-text);
}

.contrast:hover {
  background-color: var(--dark-theme-bg-lighter);
}

.center {
  display: flex;
  justify-content: center;
}

.justify {
  text-align: justify;
}

.pageTitle {
  font-size: 2em;
  font-family: "Roboto Slab";
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: var(--content-gap);
}

.onlyBig,
.onlyXL {
  display: none;
}

@media only screen and (min-width: 768px) {
  .onlyBig {
    display: block;
  }

  .onlySmall {
    display: none;
  }

  .full-container {
    padding: var(--content-padding);
    max-width: 1200px;
    margin: auto;
  }

  .full-container>* {
    padding: 0;
  }
}

@media only screen and (min-width: 1096px) {

  .container,
  .full-container {
    padding: var(--content-padding-lg);
  }

  .onlyLessXL {
    display: none;
  }

  .onlyXL {
    display: block;
  }

  .pageTitle {
    font-size: var(--fs-700);
  }

}


@media only screen and (min-width: 1800px) {
  .container {
    padding: var(--content-padding-xl);
  }
}

.onlySmall .cta {
  margin-bottom: 3em;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}